This is the server's full name {{ansible_facts ['fqdn']}}
This is the server's current version {{ansible_facts ['distribution_version']}}
# check out the synatax above {{}} within double curly braces we include the variable from the ansible_facts note the square [] brackets and the single quotes 
# for an if else block we use the percentage sign on each line and a curly brackets {%    %}
{% if A in B %}
print this line zaalima
{% elif A in C %}
print this line udedilbefikre
Add this common line love ur life
{% endif %}
